$oval: #c4e0a6;
$iceblue: #aceaee;
$pink: #eebeac;
$carpet: #eeacac;
$violet: #c1acee;
$berry: #acbaee;
$yellow: #eeedac;
$skin: #eeceac;
$black: #000;
$red: #f00;
$green: #0f0;
$blue: #00f;
$purple: purple;
$yellow: yellow;
$white: white;

$theme-color: (
  "oval": $oval,
  "iceblue": $iceblue,
  "pink": $pink,
  "carpet": $carpet,
  "violet": $violet,
  "berry": $berry,
  "yellow": $yellow,
  "skin": $skin,
  "black": $black,
  "red": $red,
  "green": $green,
  "blue": $blue,
  "purple": $purple,
  "white": $white,
);

$opacity: (200, 400, 600, 800);

$position: ("relative", "absolute", "fixed", "sticky", "static");

$padding-list: (1, 2, 3, 4, 5);
