@import "./module/_variables.scss";
@import "./module/mixin.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(var(--def-grid-col), 1fr);
  grid-column-gap: var(--def-col-gap);
  grid-row-gap: var(--def-row-gap);
}

@each $key,$val in $row-col-value {
  @include col_generator($key);
}
