$oval: #c4e0a6;
$iceblue: #aceaee;
$pink: #eebeac;
$carpet: #eeacac;
$violet: #c1acee;
$berry: #acbaee;
$yellow: #eeedac;
$skin: #eeceac;

$theme-color: (
  "oval": $oval,
  "iceblue": $iceblue,
  "pink": $pink,
  "carpet": $carpet,
  "violet": $violet,
  "berry": $berry,
  "yellow": $yellow,
  "skin": $skin,
);
