@use "sass:math";

@function empty_map() {
  @return map-remove(
    (
      x: x,
    ),
    x
  );
}

@function value_map_generator(
  $length,
  $step: 1,
  $unit: false,
  $modify-key: true
) {
  $result: empty_map();
  @for $i from 1 to $length + 1 {
    $key: $i;
    $value: $i * $step;
    @if $modify-key {
      $key: $key * $step;
    }
    @if $unit {
      $value: $value + $unit;
    }
    $result: map-merge(
      $result,
      (
        $key: $value,
      )
    );
  }
  @return $result;
}

@function not_fibonacci_generator($length, $step: 1, $unit: false) {
  $result: empty_map();
  $increment: 1;
  $value: 1;
  @while $step < $length {
    @if $value == 20 {
      $increment: 4;
    }
    @if $value == 40 {
      $increment: 16;
    }
    $result: map-merge(
      $result,
      (
        $step: $value + $unit,
      )
    );
    $value: $value + $increment;
    $step: $value;
  }
  @return $result;
}
